body {
    background: #eceef1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
}

a, a:link, a:active, a:visited, body, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

a, a:link, a:active, a:visited {
    color: #0077C5;
}

button {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    cursor: pointer;
}

/* header: .questions .have-account .forgot .sign-in */
header {
    height: 2em;
    /* background: red; */
    display: flex;
    padding: 0.5em 1em 0.5em 1em;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

header .questions {
    display: flex;
    flex-direction: column;
}

header .questions .have-account {
    font-size: 12px;
}

header .sign-in {
    height: 2rem;
    width: 7rem;
    font-size: 1rem;
}

/* Body */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .logo {
    font-size: 3rem;
    color: slategray;
}

.main .subtitle {
    font-size: 1rem;
    color: slategray;
}

.main .form-area {
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid slategray;
    border-radius: 2px;
    height: 700px;
    width: 380px;
    gap: 1rem;
    background: white;
    justify-content: center;
}

.main .form-area .title {
    font-size: 24px;
    color: #393A3D;
    text-align: center;
}

.main .form-area .learn-more {
    font-size: 14px;
    font-weight: 300;
    color: #393A3D;
    text-align: center;
}

.info {
    color: #404040;
    font-size: 14px;
}

.phone-info {
    color: #404040;
    font-size: 10px;
}

.form-area input {
    box-sizing: border-box;
    width: 320px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid #d8d8d8;
    color: #000000;
    outline: none;
    font-size: 1.2em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 1.3em;
    min-height: 34px;
}

.create-account {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    width: 100%;
    min-height: 44px;
    font-size: 1.5rem;
}

.agree {
    font-style: italic;
    font-size: 12px;
    color: #757575;
}

.update-date {
    font-weight: bold;
    font-size: 12px;
    color: #757575;
    text-align: center;
    font-style: italic;
}

.recaptha {
    margin: 32px -30px -39px -30px;
    padding: 16px;
    text-align: center;
    color: #8D9096;
    background: #eceef1;
    font-size: 11px;
}

/* footer */

.privacy {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 1rem 0 0 0;
    color: #505050;
}

.rights {
    color: #505050;
    width: 60%;
    text-align: center;
    margin-top: 1rem;
}

footer {
    height: 3rem;
    background: white;
    padding: 1rem;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
}

footer a, footer a:link, footer a:active, footer a:visited {
    font-size: 1rem;
}